/* Write your CSS here */
.bg {
  background-color: #07080c;
  background-size: cover;
  height: 100vh;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
}

.image {
  height: 50vh;
  width: 50vw;
}

.heading {
  color: #ffffff;
  font-size: 28px;
}

.para {
  color: #94a3b8;
}

.btn {
  height: 40px;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 500;
  margin-right: 10px;
}

.btn1 {
  background-color: #0b69ff;
}

.btn2 {
  background-color: transparent;
  border-color: #cbd5e1;
  color: #94a3b8;
  border-style: solid;
}
